---
layout: default
---

<ul>
    {% for post in paginator.posts %}
      <li>
          <h2><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a></h2>
          <img src="/images/system/authorize.png" />
          <div class="author">
            {{ post.author}} writed in 
            <time datetime="{{ post.date | date_to_xmlschema }}">
              {{ post.date | date: "%Y/%m/%d" }}
            </time>
          </div>
          {% include show_tags.html %}
          {% include show_categories.html %}
         <hr />
      </li>
    {% endfor %}
</ul>
