<header>
  <div>
    <h1>
      <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=rtfG2fHdwcja2c-cy_7f34DNwcM">
        <img src="{{ site.baseurl }}/images/system/minutemailer_16.png" />
      </a>
      <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
        {% assign owner_first_name = site.owner | split: " " %}
        {{ owner_first_name[0] | downcase }}
      </a>
    </h1>
    
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>
