<a href="{{ "/all_posts" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">All_Posts | </h2>
</a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">About | </h2>
</a>
<a href="{{ "/categories" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">Categories | </h2>
</a>
<a href="{{ "/tags" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">Tags</h2>
</a>
<!--<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>-->
