<a href="{{ "/all_posts" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">所有文章</h2>
</a>|
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">关于</h2>
</a>|
<a href="{{ "/categories" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">分类</h2>
</a>|
<a href="{{ "/tags" | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="header-link">标签</h2>
</a>|
<a href="{{ "/read_list" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">阅读是件小事</h2></a>
