<div class="pagination">
    上一篇：
    {% if page.next %}
      <a href="/blog{{ page.next.url }}" class="previous">
        <img src="images/system/previous/previous.png" />
      </a>
    {% else %}
      <span class="previous">
        <img src="images/system/no_idea/no_idea.png" />
      </span>
    {% endif %}
  
    | 下一篇：
    {% if page.previous %}
      <a href="/blog{{ page.previous.url }}" class="next">
        <img src="images/system/next/next.png" />
      </a>
    {% else %}
      <span class="next">
        <img src="images/system/no_idea/no_idea.png" />
      </span>
    {% endif %}

    <a href="#top" style="float: right;"><img src="images/system/up/up_32.png" /></a>
  </div>