{% if page.categories.size > 0 %}
	<div class="categories">
	<img src="/images/system/book.png" />
	{% for category in page.categories %}
		<span>{{ category }}</span>
	  <!-- <a href="{{ site.baseurl }}category/{{ category }}">{{ category }}</a> -->
	{% endfor%}
	</div>
{% endif %}

{% if post.categories.size > 0 %}
	<div class="categories">
	<img src="/images/system/book.png" />
	{% for category in post.categories %}
		<span>{{ category }}</span>
	  <!-- <a href="{{ site.baseurl }}category/{{ category }}">{{ category }}</a> -->
	{% endfor%}
	</div>
{% endif %}
