/* Links
   a, a:hover, a:visited
*/

a {
    color: #b7fa00;
    text-shadow: 0 0 5px rgba(31, 156, 6, 0.5);
    text-decoration: none;
}
  
a:hover {
  color: #d4fa6b;
}

a:active, a:focus {
  color: #fbfcf8;
  outline: 0;
  border: none;
  -moz-outline-style: none;
}