/*------------------------------------*
  Components > Categories
 *------------------------------------*/

.categories {
	img {
		margin: 5px 5px 5px 5px;
		float: left;
	}
	span, a {
		display: inline-block;
		padding: 4px 16px;
		margin: 0 8px 4px 0;

		font-size: 12px;

		background-color: #ff6a00;
    }
}
