<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	<div id="wrapper">
		{% include header.html %}
		<div class="container">
			<section id="main_content">
				{{ content }}
			</section>
		</div>
	</div>

	{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% if paginator.previous_page == 1 %}
		<a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">
			<img src="{{ site.baseurl }}/images/system/previous/previous-1.png" />
		</a>
		{% elsif paginator.previous_page%}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">
			<img src="{{ site.baseurl }}/images/system/previous/previous-1.png" />
		</a>
		{% else %}
		<span class="page-item">
			<img src="{{ site.baseurl }}/images/system/no_idea/no_idea_16.png" />
		</span>
		{% endif %}

		<!-- {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="page-item">{{ page }}</span>
        {% elsif page == 1 %}
          <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
        {% endif %}
      {% endfor %} -->

		{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		第 <span class="page-item">{{ page }}</span> 页，共 {{ paginator.total_pages }} 页，计 {{ site.posts.size }} 篇。
		{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">
			<img src="{{ site.baseurl }}/images/system/next/next-1.png" />
		</a>
		{% else %}
		<span class="page-item">
			<img src="{{ site.baseurl }}/images/system/no_idea/no_idea_16.png" />
		</span>
		{% endif %}
	</div>
	{% endif %}

	{% include footer.html %}

	<!-- {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %} -->
</body>

</html>